<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to the Dashboard, <%= name %></h1>
  <p>Account Balance: Rs. <%= balance %></p>
  <a href="/auth/logout">Logout</a>
</body>
</html>
